.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 3970px;
  position: relative;
}

.home-page .overlap {
  position: absolute;
  width: 1975px;
  height: 683px;
  top: 3287px;
  left: 0;
}

.home-page .vido-explicatif {
  position: absolute;
  width: 1920px;
  height: 683px;
  top: 0;
  left: 0;
}

.home-page .footer-text {
  position: absolute;
  width: 1947px;
  height: 507px;
  top: 54px;
  left: 28px;
}

.home-page .LA-MAISON-PETIT {
  position: absolute;
  width: 672px;
  top: 0;
  left: 1273px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper {
  font-weight: 700;
}

.home-page .span {
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.home-page .SERVICE-CLIENT {
  position: absolute;
  width: 536px;
  height: 507px;
  top: 0;
  left: 719px;
}

.home-page .line {
  width: 1px;
  height: 507px;
  top: 0;
  left: -1px;
  position: absolute;
  object-fit: cover;
}

.home-page .img {
  width: 1px;
  height: 507px;
  top: 0;
  left: 531px;
  position: absolute;
  object-fit: cover;
}

.home-page .contact-livraison {
  position: absolute;
  width: 228px;
  top: 98px;
  left: 37px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .SERVICE-CLIENT-2 {
  position: absolute;
  width: 232px;
  top: 0;
  left: 10px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .NEWSLETTER {
  width: 599px;
  height: 352px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-page .line-2 {
  width: 587px;
  height: 2px;
  top: 98px;
  left: 6px;
  position: absolute;
  object-fit: cover;
}

.home-page .LES-BOUTIQUES {
  position: absolute;
  width: 547px;
  top: 207px;
  left: 5px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-2 {
  position: absolute;
  width: 81px;
  top: 69px;
  left: 6px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .NEWSLETTER-2 {
  width: 167px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
}

.home-page .caroussel {
  position: absolute;
  width: 2158px;
  height: 872px;
  top: 2280px;
  left: -29px;
}

.home-page .overlap-group {
  position: absolute;
  width: 467px;
  height: 568px;
  top: 50px;
  left: 1681px;
}

.home-page .article-quatre {
  position: absolute;
  width: 467px;
  height: 568px;
  top: 0;
  left: 0;
}

.home-page .overlap-group-2 {
  position: relative;
  height: 568px;
}

.home-page .article {
  position: absolute;
  width: 467px;
  height: 568px;
  top: 0;
  left: 0;
  background-color: #f2f2f4;
  opacity: 0.5;
}

.home-page .image {
  width: 184px;
  height: 300px;
  top: 230px;
  left: 84px;
  position: absolute;
  object-fit: cover;
}

.home-page .PETIT-ROCHER {
  position: absolute;
  width: 304px;
  top: 14px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-2 {
  position: absolute;
  width: 467px;
  height: 568px;
  top: 50px;
  left: 1199px;
}

.home-page .article-trois {
  position: absolute;
  width: 467px;
  height: 568px;
  top: 0;
  left: 0;
  background-color: #f2f2f4;
}

.home-page .image-2 {
  width: 300px;
  height: 300px;
  top: 261px;
  left: 84px;
  position: absolute;
  object-fit: cover;
}

.home-page .PETIT-ROCHER-2 {
  position: absolute;
  width: 304px;
  top: 18px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-3 {
  position: absolute;
  width: 466px;
  height: 568px;
  top: 50px;
  left: 717px;
}

.home-page .article-deux {
  position: absolute;
  width: 466px;
  height: 568px;
  top: 0;
  left: 0;
  background-color: #f2f2f4;
}

.home-page .image-3 {
  width: 200px;
  height: 197px;
  top: 312px;
  left: 133px;
  position: absolute;
  object-fit: cover;
}

.home-page .article-un {
  position: absolute;
  width: 639px;
  height: 822px;
  top: 50px;
  left: 62px;
  background-color: #f2f2f4;
}

.home-page .image-4 {
  width: 400px;
  height: 389px;
  top: 217px;
  left: 119px;
  position: absolute;
  object-fit: cover;
}

.home-page .element {
  position: absolute;
  width: 71px;
  top: 11px;
  left: 1820px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-3 {
  color: #00000066;
}

.home-page .text-wrapper-4 {
  color: #000000;
}

.home-page .text-wrapper-5 {
  font-weight: 700;
  color: #000000;
}

.home-page .TITRE-PETIT-ROCHER {
  position: absolute;
  width: 415px;
  top: 0;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .a-LA-UNE {
  position: absolute;
  width: 120px;
  top: 2218px;
  left: 930px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .menu {
  position: absolute;
  width: 1975px;
  height: 500px;
  top: 1633px;
  left: 0;
}

.home-page .nouveaut-quatre {
  position: absolute;
  width: 492px;
  height: 500px;
  top: 0;
  left: 1485px;
}

.home-page .overlap-group-3 {
  position: relative;
  width: 490px;
  height: 500px;
  background-color: #f2f2f4;
}

.home-page .text-wrapper-6 {
  position: absolute;
  width: 280px;
  top: 22px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .image-cailloux {
  width: 200px;
  height: 121px;
  top: 325px;
  left: 143px;
  position: absolute;
  object-fit: cover;
}

.home-page .nouveaut-trois {
  position: absolute;
  width: 492px;
  height: 500px;
  top: 0;
  left: 990px;
}

.home-page .image-cailloux-trois {
  width: 200px;
  height: 104px;
  top: 331px;
  left: 148px;
  position: absolute;
  object-fit: cover;
}

.home-page .nouveaute-deux {
  position: absolute;
  width: 492px;
  height: 500px;
  top: 0;
  left: 495px;
}

.home-page .image-cailloux-deux {
  width: 200px;
  height: 166px;
  top: 269px;
  left: 148px;
  position: absolute;
  object-fit: cover;
}

.home-page .nouveaut-une {
  position: absolute;
  width: 492px;
  height: 500px;
  top: 0;
  left: 0;
}

.home-page .image-cailloux-une {
  width: 229px;
  height: 191px;
  top: 256px;
  left: 130px;
  position: absolute;
  object-fit: cover;
}

.home-page .articles-wrapper {
  position: absolute;
  width: 2093px;
  height: 500px;
  top: 1022px;
  left: -113px;
}

.home-page .articles {
  height: 500px;
}

.home-page .overlap-4 {
  position: relative;
  width: 2095px;
  height: 500px;
}

.home-page .article-galets {
  position: absolute;
  width: 607px;
  height: 500px;
  top: 0;
  left: 1488px;
}

.home-page .overlap-group-4 {
  position: relative;
  width: 605px;
  height: 500px;
}

.home-page .box {
  left: 110px;
  background-color: #f2f2f4;
  position: absolute;
  width: 495px;
  height: 500px;
  top: 0;
}

.home-page .text-wrapper-7 {
  position: absolute;
  width: 415px;
  top: 436px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .image-galets {
  width: 300px;
  height: 300px;
  top: 85px;
  left: 223px;
  position: absolute;
  object-fit: cover;
}

.home-page .article-pierres {
  position: absolute;
  width: 608px;
  height: 500px;
  top: 0;
  left: 992px;
}

.home-page .overlap-5 {
  position: relative;
  width: 606px;
  height: 500px;
}

.home-page .box-2 {
  left: 111px;
  background-color: #010101;
  position: absolute;
  width: 495px;
  height: 500px;
  top: 0;
}

.home-page .text-wrapper-8 {
  color: #ffffff;
  position: absolute;
  width: 415px;
  top: 436px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .image-pierres {
  width: 400px;
  height: 400px;
  top: 25px;
  left: 159px;
  position: absolute;
  object-fit: cover;
}

.home-page .article-rocher {
  position: absolute;
  width: 609px;
  height: 500px;
  top: 0;
  left: 496px;
}

.home-page .overlap-6 {
  position: relative;
  width: 607px;
  height: 500px;
}

.home-page .box-3 {
  left: 112px;
  background-color: #f2f2f4;
  position: absolute;
  width: 495px;
  height: 500px;
  top: 0;
}

.home-page .image-rocher {
  width: 400px;
  height: 300px;
  top: 100px;
  left: 160px;
  position: absolute;
  object-fit: cover;
}

.home-page .article-cailloux {
  position: absolute;
  width: 610px;
  height: 500px;
  top: 0;
  left: 0;
}

.home-page .overlap-7 {
  position: relative;
  width: 608px;
  height: 500px;
}

.home-page .box-4 {
  left: 113px;
  background-color: #010101;
  position: absolute;
  width: 495px;
  height: 500px;
  top: 0;
}

.home-page .image-cailloux-2 {
  width: 300px;
  height: 251px;
  top: 110px;
  left: 196px;
  position: absolute;
  object-fit: cover;
}

.home-page .collection {
  position: absolute;
  width: 684px;
  height: 99px;
  top: 885px;
  left: 620px;
}

.home-page .p {
  position: absolute;
  width: 680px;
  top: 39px;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .COLLECTION-HIVER {
  position: absolute;
  width: 339px;
  top: 0;
  left: 170px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .advise {
  position: absolute;
  width: 1920px;
  height: 650px;
  top: 211px;
  left: 0;
  object-fit: cover;
}

.home-page .overlap-8 {
  position: absolute;
  width: 1922px;
  height: 169px;
  top: 0;
  left: 0;
}

.home-page .titre {
  position: absolute;
  width: 415px;
  top: 130px;
  left: 752px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .header {
  position: absolute;
  width: 1922px;
  height: 169px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.home-page .icon-user {
  position: absolute;
  width: 22px;
  height: 25px;
  top: 141px;
  left: 1846px;
}

.home-page .icon-search-normal {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 141px;
  left: 1808px;
}

.home-page .icon-shopping-bag {
  position: absolute;
  width: 22px;
  height: 27px;
  top: 141px;
  left: 1883px;
}

.home-page .line-3 {
  position: absolute;
  width: 264px;
  height: 2px;
  top: 168px;
  left: 1536px;
}

.home-page .QUE-CHERCHEZ-VOUS {
  position: absolute;
  width: 250px;
  top: 136px;
  left: 1543px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home-page .div-2 {
  position: absolute;
  width: 1930px;
  height: 103px;
  top: 0;
  left: 0;
}

.home-page .menu-2 {
  position: absolute;
  width: 1920px;
  height: 100px;
  top: 3px;
  left: 0;
  background-color: #f2f2f4;
}

.home-page .text-wrapper-9 {
  width: 384px;
  height: 100px;
  top: 3px;
  color: #000000;
  font-size: 20px;
  position: absolute;
  left: 0;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-group-5 {
  position: absolute;
  width: 1136px;
  height: 103px;
  top: 0;
  left: 400px;
}

.home-page .COLLECTION {
  position: absolute;
  width: 384px;
  height: 100px;
  top: 3px;
  left: 383px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .PIERRES-HISTORIQUES {
  position: absolute;
  width: 384px;
  height: 100px;
  top: 0;
  left: 752px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .ACCESOIRES {
  position: absolute;
  width: 384px;
  height: 100px;
  top: 0;
  left: 1536px;
  font-family: "Kaisei Opti", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
