.content {
    display : flex;
    width: 90%;
    margin: auto;
    gap: 5%;
}

.article_photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    width : 65%;
}

.carac_Paiement_space {
    width: 35%;
}

.grid_content {
    width : 100%;
    height : auto;
}

.grid_content + .grid_content {
    grid-column: span 2;
}