:root {

    --black: #010101;
    --white: #ffffff;
    --greyz: #f2f2f4;

}

@font-face {
    font-family: 'CenturyBold';
    src: url('../fonts/CenturyGothicW05-Bold.woff2');
}

@font-face {
    font-family: 'CenturyRegular';
    src: url('../fonts/CenturyGothicW05-Regular.woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: CenturyRegular, Arial, sans-serif;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    color: var(--white);
    z-index: 3;

}

header h1 {
    font-family: 'CenturyBold', Arial, sans-serif;
    margin: 20px 0;
}

.Menu {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.Menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.Menu ul li {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu ul li a {
    text-decoration: none;
    color: var(--white);
}
.icons {
    width: 20px;
    height: 20px;
}
.video {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.logo_class {
    margin-left: 60px;
}

.video video {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.navigation div {
    padding: 10px;
}

.navigation div a {
    text-decoration: none;
    color: var(--white);
}

.content-season {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.title-season p {
    text-align: center;
}

.categories {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 40px 0;
}

.container {
    background-color: var(--greyz);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container_products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.rock {
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.rock_product {
    background-size: cover;
    background-image: url(../img/brille.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
}

.rock_product5 {
    background-size: cover;
    background-image: url(../img/meteorite.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
}
.rock_product6 {
    background-size: cover;
    background-image: url(../img/pierrepaspierre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
}
.rock_product7 {
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
}

.rock_product_bigger {
    background-image: url('../img/ben_pierre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    opacity: 1;
    z-index: 1;
    margin: 0 40px;
}

/************ROCK PRODUCT START***************/
.rock_product {
    background-size: cover;
    background-image: url(../img/brille.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
    transition: background-image 0.6s ease-in-out;
}

.description_hover {
    opacity: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    transition: opacity 0.6s ease-in-out;
}

.rock_product:hover  {
    background-image: url("../img/brilledos.png");
}

.rock_product:hover > .description_hover  {
    opacity: 1;
}
/***********ROCK PRODUCT 2 END*****************/
/************ROCK PRODUCT 2 START***************/
.rock_product2 {
    background-size: cover;
    background-image: url(../img/zen.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
    transition: background-image 0.6s ease-in-out;
}

.description_hover2 {
    opacity: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    transition: opacity 0.6s ease-in-out;
}

.rock_product2:hover  {
    background-image: url("../img/zenhaut.png");
}

.rock_product2:hover > .description_hover2  {
    opacity: 1;
}
/***********ROCK PRODUCT 2 END*****************/

/************ROCK PRODUCT 3 START***************/
.rock_product3 {
    background-size: cover;
    background-image: url(../img/plate.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
    transition: background-image 0.6s ease-in-out;
}

.description_hover3 {
    opacity: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    transition: opacity 0.6s ease-in-out;
}

.rock_product3:hover  {
    background-image: url("../img/platehaut.png");
}

.rock_product3:hover > .description_hover3  {
    opacity: 1;
}
/***********ROCK PRODUCT 3 END*****************/

/************ROCK PRODUCT 4 START***************/
.rock_product4 {
    background-size: cover;
    background-image: url(../img/gravehaut.png);
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 500px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    opacity: 1;
    z-index: 1;
    margin: 0 2px;
    transition: background-image 0.6s ease-in-out;
}

.description_hover4 {
    opacity: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    transition: opacity 0.6s ease-in-out;
}

.rock_product4:hover  {
    background-image: url("../img/grave.png");
}

.rock_product4:hover > .description_hover4  {
    opacity: 1;
}
/***********ROCK PRODUCT 4 END*****************/

.rock_product5:hover {
    &.description_hover {
        display: flex;
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }
    background-image: url("../img/meteocote.png");
    transition: background-image 0.6s ease-in-out;
}

.rock_product6:hover {
    &.description_hover {
        display: flex;
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }
    background-image: url("../img/pierrepierre.png");
    transition: background-image 0.6s ease-in-out;
}


img {
    width: 200px;
    height: 200px;
    flex: 1;
    object-fit: contain;
}

.rock:hover {
    & img, & p {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }
}

p {
    align-self: flex-start;
    padding-left: 20px;
    padding-bottom: 5px;
}

.txt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    font-family: 'CenturyBold', Arial, sans-serif;
}

.txt_regular p {
    text-align: center;
    align-content: center;
    align-self: center;
}

.txt_regular {
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 10px 0;
}


/*set even div background color to black (container children)*/
.container .rock:nth-child(even) {
    background-color: black;
    color: white;
}

.search {
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 16px;
}

input {
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 16px;
    margin-right: 100px;
}

input:focus {
    outline: none;
}
/*a little line under the input */
input::placeholder {
    text-decoration: underline;
    text-decoration-color: var(--black);
    text-decoration-thickness: 1px;
}

.the-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 350px;
    margin-top: 100px;
}

footer {
    background-color: var(--greyz);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 400px;
    padding: 100px;
}

footer h2 {
    margin: 20px 0;
}

footer p {
    margin: 20px 0;
}

footer a {
    text-decoration: none;
    color: var(--black);
}

.footer_social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
}

.footer_social img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
}

.footer_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px 0;
}
